<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-header">
                <div class="row align-items-end" style="margin-bottom: 20px; margin-top: 30px; margin-left: 7px;">
                    <div class="col-lg-8">
                            <div class="page-header-breadcrumb">
                            <h4>File USM</h4>
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="..\..\index.php"><i class="fa fa-home"></i> Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">File USM</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <!-- Material tab card start -->
                    <div class="card user-card">
                        <div class="card-block">

                            <h4 class="sub-title">UPLOAD FILE USM</h4>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Gelombang</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-normal" placeholder="Masukkan Gelombang....">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">File Hasil Ujian</label>
                                <div class="col-sm-10">
                                    <div class="jFiler jFiler-theme-dragdropbox">
                                        <input type="file" name="files[]" id="filer_input1" multiple="multiple" style="position: absolute; left: -9999px; top: -9999px; z-index: -9999;">
                                        <div class="jFiler-input-dragDrop">
                                            <div class="jFiler-input-inner">
                                                <div class="jFiler-input-icon">
                                                    <i class="icon-jfi-cloud-up-o"></i>
                                                </div>
                                                <div class="jFiler-input-text">
                                                    <h3>Drag &amp; Drop files disini</h3> <span style="display:inline-block; margin: 15px 0">Atau</span>
                                                </div>
                                                <a class="jFiler-input-choose-btn btn btn-primary waves-effect waves-light">
                                                    <i class="fa fa-folder"></i> Pilih dari Komputer</a>
                                            </div>
                                        </div>
                                        <div class="jFiler-items jFiler-row"><ul class="jFiler-items-list jFiler-items-grid"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" style="float: right;" class="btn btn-primary waves-effect waves-light upload-file" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'upload-file']);"><i class="fa fa-paper-plane"></i> UPLOAD FILE USM</button>
                        </div>
                    </div>

                    <div class="md-modal md-effect-1" id="resetPasswordPMB">
                        <div class="md-content">
                            <h3 class="text-center" style="background: #01a9ac;"><i class="fa fa-refresh"></i> UBAH PASSWORD</h3>
                            <div class="row m-b-20">
                                <div class="col-sm-12 col-lg-4">
                                    <img class="img-fluid logoUnpas" src="..\..\foundations\adminity\assets\images\Logo-unpas.png" alt="round-img">
                                    <h4 class="text-center" style="margin-top: 12px; margin-bottom: 15px;">PMB UNPAS</h4>
                                </div>

                                <div class="col-sm-12 col-lg-8">

                                    <div class="form-group form-primary">
                                        <input type="password" name="password" class="form-control" required="" id="inputPasswordLama" placeholder="Masukkan Password Lama...">
                                        <span class="form-bar"></span>
                                    </div>

                                    <div class="form-group form-primary">
                                        <input type="password" name="password" class="form-control" required="" id="inputPasswordBaru" placeholder="Masukkan Password Baru...">
                                        <span class="form-bar"></span>
                                    </div>

                                    <div class="form-group form-primary">
                                        <input type="password" name="password" class="form-control" required="" id="konfirmasiPassword" placeholder="Konfirmasi Password Baru...">
                                        <span class="form-bar"></span>
                                    </div>

                                    <div class="row m-t-25 text-left">
                                    <div class="col-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="" onclick="myFunctionUbahPassword()">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Tampilkan Password</span>
                                            </label>
                                        </div>
                                    </div>
                                    </div>

                                    <div class="row m-t-30">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 ubah-password" data-dismiss="md-modal" aria-label="Close" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'ubah-password']);"><h5>UBAH PASSWORD</h5></button>  

                                                <button type="button" class="btn btn-secondary mobtn btn-md btn-block waves-effect text-center m-b-20 md-close"><h5>KEMBALI</h5></button>  
                                                    
                                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-overlay"></div>
                    <!-- Material tab card end -->
                </div>
            </div>
            <!-- Main-body end -->
        </div>
    </div>
</div>